<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Flot Examples</title>
    <link rel="stylesheet" type="text/css" href="../lib/jcalendar/css/jscal2.css" />
    <link rel="stylesheet" type="text/css" href="../lib/jcalendar/css/border-radius.css" />    
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="../lib/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="../lib/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="../lib/jcalendar/js/jscal2.js"></script>
	<script language="javascript" type="text/javascript" src="../lib/jcalendar/js/lang/en.js"></script>
 	<script language="javascript" type="text/javascript" src="../lib/tsd/query.js"></script>
 </head>
 <body>
    From <input size="20" id="cs" name="cs" value={{ cs }}/><button id="cs_btn" type="button">...</button>
    To   <input size="20" id="ce" name="ce" value={{ ce }}/><button id="ce_btn" type="button">...</button>
    <script type="text/javascript">//<![CDATA[
       var cal = Calendar.setup({
          onSelect: function(cal) { cal.hide() },
          showTime: true,
          minuteStep: 1
      });
      cal.manageFields("cs_btn", "cs", "%b %d %Y %H:%M");
      cal.manageFields("ce_btn", "ce", "%b %d %Y %H:%M");
    //]]></script>
	<button type="button" onclick=freshTime()> Go </button>
     	
    <h1>Cluster Overview</h1>

    <div id="clusterview" style="font-size:150%;width:800px;height:300px;"></div>

    <h1>Node Overview</h1>

    <div id="nodeview" style="font-size:150%;width:800px;height:300px;"></div>

	<p id="test_area"> Empty </p>
	
    <script type="text/javascript">
    	function freshTime() {
    		$("#test_area").html($("#cs").value);		
    	}
    </script>

 </body>
</html>
